.Header {
  display: grid;
  background-color: #1d1e18ff;
  width: 100%;
  grid-template-columns: 1fr 55px;
  grid-template-areas: "header  logo";
  padding: 5px 0px;
}

.header__link {
  text-decoration: none;
}

.header__main {
  font-family: "Press Start 2P", cursive, arial;
  font-size: 24px;
  color: #000000;
  background-color: #1d1e18ff;
  width: 100%;
  margin: 0;
  padding: 5px 0px;
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 2px 5px rgb(97, 245, 0), 0px 0px 15px #8de969ff;
}

.login__img {
  border: normal;
  border-radius: 50%;
  width: 30px;
  grid-area: logo;
  margin: auto;
  box-shadow: 0px 0px 10px rgb(97, 245, 0), 0px 0px 30px #8de969ff;
}

.signIn__btn {
  text-align: center;
  font-family: "Press Start 2P", cursive, arial;
  font-size: 9px;
  color: lime;
  text-shadow: 0px 0px 10px rgb(97, 245, 0), 0px 0px 30px #8de969ff;
  background-color: rgba(29, 30, 24, 1);
  border-radius: 45%;
  width: 50px;
  height: 100%;
}
