.Header {
  display: grid;
  background-color: black;
  width: 100%;
  grid-template-columns: 1fr 55px;
  grid-template-areas: "header  logo";
  padding: 5px 0px;
}

.header__link {
  text-decoration: none;
}

.header__main {
  font-family: "Press Start 2P", cursive, arial;
  font-size: 24px;
  color: black;
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 5px 0px;
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 20px lime;
}

.login__img {
  border: normal;
  border-radius: 50%;
  width: 30px;
  grid-area: logo;
  margin: auto;
  box-shadow: 0px 0px 20px lime;
}
