.App {
  text-align: center;
}
.Header {
  display: grid;
  background-color: black;
  width: 100%;
  grid-template-columns: 1fr 55px;
  grid-template-areas: "header  logo";
}

.header__main {
  font-family: "Press Start 2P", cursive, arial;
  font-size: 24px;
  background-color: black;
  width: 100%;
  margin: 0;
  padding: 0;
  grid-area: header;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: 0px 0px 20px lime;
}

.login__img {
  border: normal;
  border-radius: 50%;
  width: 30px;
  grid-area: logo;
  margin: auto;
  box-shadow: 0px 0px 20px lime;
}

.Navbar {
  background-color: maroon;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: center;
  gap: 2px 10px;
  height: auto;
  padding: auto;
}

.nav__link {
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 0 10px 0 10px;
  background-color: lightgoldenrodyellow;
  flex-grow: 0;
  border-radius: 2px;

  font-style: bold;
  font-variant: small-caps;
}
